/* ================================= 
  Button Transitions
==================================== */
button, .swal2-modal .swal2-styled, #sendMessage {
  transition: background .3s, color .3s; }

button:hover, .swal2-modal:hover .swal2-styled:hover, #sendMessage:hover {
  color: #FDFDFD;
  background: #FC4A1A !important; }

input[type="submit"] {
  transition: background .3s, color .3s; }

input[type="submit"]:hover {
  color: #FDFDFD;
  background: #FC4A1A !important; }

/* ================================= 
  Event tags, calendar and about btn Transitions
==================================== */
.calender-view-container, .filters, .mail-view-container {
  transition: background .5s, color .3s; }

.calender-view-container:hover, .filters:hover, .mail-view-container:hover {
  color: #FDFDFD !important;
  background: #FC4A1A !important; }

/* ================================= 
  Image Transitions 
==================================== */
img {
  transition: transform .5s;
  transform-origin: center; }

.single-event:hover img {
  transition: all .4s ease-in-out;
  transform: scale(1.2); }

/* ================================= 
	New Event and new partner
==================================== */
.new-event-container {
  transition: background .3s, color .3s, transform .5s;
  transform-origin: center; }

.new-event-container:hover {
  color: #FC4A1A !important; }

.event-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%; }
  .event-container .header-container {
    text-align: center;
    background-image: url("https://www.timeshighereducation.com/sites/default/files/lecture-hall.jpg");
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 100px rgba(66, 171, 158, 0.8);
    background-size: 100%;
    height: 150px;
    /* border-bottom: 2px black solid; */
    /* border-top: 1px black solid; */
    padding-top: 1%;
    display: flex;
    flex-direction: row; }
    .event-container .header-container .header-mid {
      width: 66%;
      color: white; }
    .event-container .header-container .header-right, .event-container .header-container .header-left {
      width: 17%; }
      .event-container .header-container .header-right .calender-view, .event-container .header-container .header-left .calender-view {
        display: flex;
        margin: 65px 0 10px 20px;
        text-align: left;
        justify-content: flex-end; }
        .event-container .header-container .header-right .calender-view .calender-view-container, .event-container .header-container .header-right .calender-view .calender-view-container2, .event-container .header-container .header-left .calender-view .calender-view-container, .event-container .header-container .header-left .calender-view .calender-view-container2 {
          display: flex;
          margin-right: 8%;
          justify-content: center;
          border-radius: 5px;
          /* border: 1.5px solid #0D0D0D; */
          cursor: pointer;
          background-color: #F7B733; }
          .event-container .header-container .header-right .calender-view .calender-view-container .fa-calendar, .event-container .header-container .header-right .calender-view .calender-view-container2 .fa-calendar, .event-container .header-container .header-left .calender-view .calender-view-container .fa-calendar, .event-container .header-container .header-left .calender-view .calender-view-container2 .fa-calendar {
            font-size: 2em;
            padding: 10px;
            color: #FDFDFD; }
          .event-container .header-container .header-right .calender-view .calender-view-container .fa-list, .event-container .header-container .header-right .calender-view .calender-view-container2 .fa-list, .event-container .header-container .header-left .calender-view .calender-view-container .fa-list, .event-container .header-container .header-left .calender-view .calender-view-container2 .fa-list {
            font-size: 2em;
            padding: 10px;
            color: #FDFDFD; }
          .event-container .header-container .header-right .calender-view .calender-view-container .calender-view-text, .event-container .header-container .header-right .calender-view .calender-view-container2 .calender-view-text, .event-container .header-container .header-left .calender-view .calender-view-container .calender-view-text, .event-container .header-container .header-left .calender-view .calender-view-container2 .calender-view-text {
            padding: 17px 15px 15px 5px;
            color: #FDFDFD; }
          .event-container .header-container .header-right .calender-view .calender-view-container .calender-view-text2, .event-container .header-container .header-right .calender-view .calender-view-container2 .calender-view-text2, .event-container .header-container .header-left .calender-view .calender-view-container .calender-view-text2, .event-container .header-container .header-left .calender-view .calender-view-container2 .calender-view-text2 {
            padding: 15px 15px 15px 5px;
            color: #FDFDFD; }
  .event-container .event-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .event-container .event-content .event-calendar {
      width: 70%;
      flex-direction: column; }
      .event-container .event-content .event-calendar .buttons {
        padding: 20px;
        display: flex;
        justify-content: space-around; }
        .event-container .event-content .event-calendar .buttons .btn-event {
          width: 30%;
          border-radius: 5px;
          margin: 3%;
          height: 40px;
          border: 1px solid #F7F7F7;
          background-color: #F7B733;
          cursor: pointer;
          color: #FDFDFD; }
          .event-container .event-content .event-calendar .buttons .btn-event a {
            color: #FDFDFD;
            text-decoration: none; }
  .event-container .tags-row {
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 100;
    justify-content: center; }
    .event-container .tags-row .tags-border {
      border-bottom: 1px #F7F7F7 solid;
      border-left: 0;
      border-right: 0;
      width: 90%;
      display: flex;
      justify-content: center;
      padding: 1% 2%; }
      .event-container .tags-row .tags-border .tags {
        display: flex;
        margin: 10px 20px;
        flex-basis: 60%;
        flex-direction: row;
        padding-bottom: 1%; }
        .event-container .tags-row .tags-border .tags .filters {
          display: flex;
          background: #FDFDFD;
          align-items: center;
          border-radius: 5px;
          height: 40px !important;
          border: 1px solid #212121;
          padding: 0 10px;
          margin: 0 20px;
          cursor: pointer;
          color: #212121;
          font-size: 11px; }
  .event-container .admin-new-event {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px 0 0; }
    .event-container .admin-new-event .new-event-container {
      display: flex;
      flex-basis: 25%;
      margin: -20px 0px;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer; }
      .event-container .admin-new-event .new-event-container .fa {
        margin-left: 30px;
        font-size: 2.5em; }
  .event-container .event-calendar {
    display: flex;
    flex-basis: 100%;
    padding: 20px; }
    .event-container .event-calendar img {
      visibility: hidden;
      width: 100%;
      height: 100%; }
  .event-container .event-row {
    display: flex;
    flex-direction: row;
    width: 90%; }
    .event-container .event-row .single-event {
      margin: 20px;
      display: flex;
      flex-direction: column;
      background: #F7F7F7; }
      .event-container .event-row .single-event .upperHalf {
        display: flex;
        flex-direction: row; }
        .event-container .event-row .single-event .upperHalf .event-head {
          background: #4ABDAC;
          padding: 10px 15px 5px 15px; }
          .event-container .event-row .single-event .upperHalf .event-head h2, .event-container .event-row .single-event .upperHalf .event-head h5 {
            margin: 0;
            color: #FDFDFD; }
          .event-container .event-row .single-event .upperHalf .event-head h2 {
            font-size: 35px; }
          .event-container .event-row .single-event .upperHalf .event-head h5 {
            padding-bottom: 5px; }
        .event-container .event-row .single-event .upperHalf .title-img .event-img {
          display: flex;
          flex-basis: 100%;
          height: 20vh;
          overflow: hidden; }
          .event-container .event-row .single-event .upperHalf .title-img .event-img img {
            display: block;
            max-width: 100%; }
      .event-container .event-row .single-event .lowerHalf {
        display: flex; }
        .event-container .event-row .single-event .lowerHalf .event-info-container {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-direction: column;
          margin: 15px 0; }
          .event-container .event-row .single-event .lowerHalf .event-info-container h1 {
            font-size: 1.5em;
            margin: 5px; }
          .event-container .event-row .single-event .lowerHalf .event-info-container h2, .event-container .event-row .single-event .lowerHalf .event-info-container h3, .event-container .event-row .single-event .lowerHalf .event-info-container h4, .event-container .event-row .single-event .lowerHalf .event-info-container h5, .event-container .event-row .single-event .lowerHalf .event-info-container h6 {
            margin: 5px 0 5px 0;
            font-size: 0.9em;
            color: #4ABDAC; }
          .event-container .event-row .single-event .lowerHalf .event-info-container p {
            text-align: center;
            margin: 10px;
            font-size: 0.9em; }
          .event-container .event-row .single-event .lowerHalf .event-info-container .event-tags {
            display: flex;
            flex-direction: row;
            font-size: 10px;
            margin-top: 15px; }
            .event-container .event-row .single-event .lowerHalf .event-info-container .event-tags div {
              padding: 5px 5px;
              margin-bottom: 5px; }
          .event-container .event-row .single-event .lowerHalf .event-info-container .btn-event {
            width: 30%;
            border-radius: 5px;
            margin: 3%;
            height: 40px;
            border: 1px solid #F7F7F7;
            background-color: #F7B733;
            cursor: pointer; }
            .event-container .event-row .single-event .lowerHalf .event-info-container .btn-event a {
              color: #FDFDFD;
              text-decoration: none; }

@media screen and (min-width: 1251px) {
  .event-container {
    flex-wrap: wrap; }
    .event-container .admin-new-event .new-event-container {
      flex-basis: 80%; }
    .event-container .event-content {
      display: flex;
      justify-content: center;
      /* flex-direction: column; */
      align-items: center;
      flex-wrap: wrap; }
      .event-container .event-content .event-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* flex-direction: row; */
        width: 90%;
        /* flex: 100; */ }
        .event-container .event-content .event-row .single-event {
          margin: 20px;
          width: 21%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          background: #FDFDFD; }
          .event-container .event-content .event-row .single-event .event-head {
            padding: 2px 10px !important; } }
@media screen and (min-width: 801px) and (max-width: 1250px) {
  .header-container .header-left {
    width: 0; }
  .header-container .header-mid {
    width: 70%; }
  .header-container .header-right {
    width: 30%; }
    .header-container .header-right .calender-view {
      margin: 65px 5px 10px 20px; }

  .admin-new-event .new-event-container {
    flex-basis: 80% !important;
    margin: 5px 0 !important; }

  .tags-row {
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    align-self: center;
    flex-basis: 100;
    justify-content: center; }
    .tags-row .tags {
      margin: 5px 10px !important;
      flex-wrap: wrap; }
      .tags-row .tags .filters {
        padding: 0 5px !important;
        margin: 0 10px !important; }

  .event-container .event-content {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap; }
    .event-container .event-content .event-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      /* flex-direction: row; */
      width: 90%;
      /* flex: 100; */ }
      .event-container .event-content .event-row .single-event {
        margin: 20px;
        width: 27%;
        display: flex;
        flex-direction: column;
        background: #FDFDFD; }
        .event-container .event-content .event-row .single-event .event-head {
          padding: 2px 10px !important; } }
@media screen and (min-width: 501px) and (max-width: 800px) {
  .event-container .header-container {
    flex-direction: column;
    text-align: center;
    background-image: url(https://www.timeshighereducation.com/sites/default/files/lecture-hall.jpg);
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 100px rgba(66, 171, 158, 0.8);
    background-size: 100%;
    height: 180px;
    /* border-bottom: 2px black solid; */
    /* border-top: 1px black solid; */
    padding-top: 1%;
    display: flex; }
    .event-container .header-container .header-mid {
      width: 100%;
      color: white; }
    .event-container .header-container .header-right {
      width: 100%; }
      .event-container .header-container .header-right .calender-view {
        display: flex;
        margin: 10px;
        text-align: left;
        justify-content: center; }
  .event-container .admin-new-event .new-event-container {
    flex-basis: 80% !important;
    margin: 5px 0 !important; }
  .event-container .tags-row {
    flex-direction: column;
    width: 90%;
    align-self: center; }
    .event-container .tags-row .tags-border {
      border-bottom: 1px #F7F7F7 solid;
      border-left: 0;
      border-right: 0;
      width: 90%;
      display: flex;
      overflow: scroll;
      justify-content: center;
      padding: 1% 2%; }
      .event-container .tags-row .tags-border .tags {
        margin: 10px 20px;
        flex-basis: 60%;
        flex-direction: row;
        justify-content: center; }
        .event-container .tags-row .tags-border .tags .filters {
          align-items: center;
          height: 40px !important;
          margin: 3px 10px; }
  .event-container .event-calendar {
    padding: 10px; }
  .event-container .event-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%; }
    .event-container .event-row .single-event {
      margin: 10px;
      flex: 40%;
      width: 40%; }
      .event-container .event-row .single-event .event-head {
        padding: 1px 15px; }
      .event-container .event-row .single-event .event-img {
        height: 180px; }
      .event-container .event-row .single-event .event-info-container .btn-event {
        width: 60%;
        border-radius: 5px;
        height: 50px;
        border: 1.5px solid #0D0D0D;
        background-color: #212121;
        cursor: pointer; }
        .event-container .event-row .single-event .event-info-container .btn-event a {
          color: #FDFDFD;
          text-decoration: none; } }
@media screen and (max-width: 500px) {
  .event-container .header-container {
    flex-direction: column;
    text-align: center;
    background-image: url(https://www.timeshighereducation.com/sites/default/files/lecture-hall.jpg);
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 100px rgba(66, 171, 158, 0.8);
    background-size: 100%;
    height: 180px;
    /* border-bottom: 2px black solid; */
    /* border-top: 1px black solid; */
    padding-top: 1%;
    display: flex; }
    .event-container .header-container .header-mid {
      width: 100%;
      color: white; }
    .event-container .header-container .header-right {
      width: 100%; }
      .event-container .header-container .header-right .calender-view {
        display: flex;
        margin: 10px;
        text-align: left;
        justify-content: center; }
  .event-container .admin-new-event .new-event-container {
    flex-basis: 80% !important;
    margin: 5px 0 !important; }
  .event-container .tags-row {
    flex-direction: column;
    width: 90%;
    align-self: center; }
    .event-container .tags-row .tags-border {
      border-bottom: 1px #F7F7F7 solid;
      border-left: 0;
      border-right: 0;
      width: 90%;
      display: flex;
      overflow: scroll;
      justify-content: center;
      padding: 1% 2%; }
      .event-container .tags-row .tags-border .tags {
        margin: 10px 20px;
        flex-basis: 60%;
        flex-direction: row;
        justify-content: center; }
        .event-container .tags-row .tags-border .tags .filters {
          align-items: center;
          height: 40px !important;
          margin: 3px 10px; }
  .event-container .event-calendar {
    padding: 10px; }
  .event-container .event-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%; }
    .event-container .event-row .single-event {
      margin: 10px;
      flex: 100%; }
      .event-container .event-row .single-event .event-head {
        padding: 1px 15px; }
      .event-container .event-row .single-event .event-img {
        height: 180px; }
      .event-container .event-row .single-event .event-info-container .btn-event {
        width: 60%;
        border-radius: 5px;
        height: 50px;
        border: 1.5px solid #0D0D0D;
        background-color: #212121;
        cursor: pointer; }
        .event-container .event-row .single-event .event-info-container .btn-event a {
          color: #FDFDFD;
          text-decoration: none; } }
body .get-involved-container {
  text-align: center;
  background-image: url(https://www.timeshighereducation.com/sites/default/files/lecture-hall.jpg);
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 100px rgba(66, 171, 158, 0.8);
  background-size: 100%;
  /* border-bottom: 2px black solid; */
  /* border-top: 1px black solid; */
  padding-top: 1%;
  display: flex;
  flex-direction: column !important;
  margin: 0;
  color: #FDFDFD; }
  @media screen and (max-width: 500px) {
    body .get-involved-container {
      height: 140px !important; } }
  body .get-involved-container h1 {
    margin: 20px 0 0 0; }
body .getInvolvedContainer {
  display: flex;
  width: 100%;
  justify-content: center; }
  body .getInvolvedContainer .getInvolvedWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px; }
    @media screen and (min-width: 1001px) {
      body .getInvolvedContainer .getInvolvedWrapper {
        width: 40%;
        display: flex;
        flex-direction: column;
        padding: 20px; }
        body .getInvolvedContainer .getInvolvedWrapper .name {
          flex-direction: row; } }
    @media screen and (min-width: 501px) and (max-width: 1000px) {
      body .getInvolvedContainer .getInvolvedWrapper {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 20px; }
        body .getInvolvedContainer .getInvolvedWrapper .name {
          flex-direction: row; } }
    @media screen and (max-width: 500px) {
      body .getInvolvedContainer .getInvolvedWrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 20px; }
        body .getInvolvedContainer .getInvolvedWrapper .name {
          flex-direction: column; } }
    body .getInvolvedContainer .getInvolvedWrapper label {
      margin-top: 10px;
      padding: 15px 15px 15px 0px; }
    body .getInvolvedContainer .getInvolvedWrapper input {
      padding: 15px; }
    body .getInvolvedContainer .getInvolvedWrapper textarea {
      padding: 15px;
      margin-bottom: 10px; }
    body .getInvolvedContainer .getInvolvedWrapper .name {
      display: flex; }
      body .getInvolvedContainer .getInvolvedWrapper .name .firstName, body .getInvolvedContainer .getInvolvedWrapper .name .lastName {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-around; }
      body .getInvolvedContainer .getInvolvedWrapper .name .firstName {
        margin-right: 15px; }
    body .getInvolvedContainer .getInvolvedWrapper #sendMessage {
      color: white;
      border-radius: 5px;
      height: 40px;
      width: 150px;
      justify-content: center;
      padding-top: 12px;
      border: 1.5px solid #FDFDFD;
      background-color: #F7B733;
      display: flex;
      align-self: center; }

/* ================================= 
  Button Transitions
==================================== */
button, .swal2-modal .swal2-styled, #sendMessage {
  transition: background .3s, color .3s; }

button:hover, .swal2-modal:hover .swal2-styled:hover, #sendMessage:hover {
  color: #FDFDFD;
  background: #FC4A1A !important; }

input[type="submit"] {
  transition: background .3s, color .3s; }

input[type="submit"]:hover {
  color: #FDFDFD;
  background: #FC4A1A !important; }

/* ================================= 
  Event tags, calendar and about btn Transitions
==================================== */
.calender-view-container, .filters, .mail-view-container {
  transition: background .5s, color .3s; }

.calender-view-container:hover, .filters:hover, .mail-view-container:hover {
  color: #FDFDFD !important;
  background: #FC4A1A !important; }

/* ================================= 
  Image Transitions 
==================================== */
img {
  transition: transform .5s;
  transform-origin: center; }

.single-event:hover img {
  transition: all .4s ease-in-out;
  transform: scale(1.2); }

/* ================================= 
	New Event and new partner
==================================== */
.new-event-container {
  transition: background .3s, color .3s, transform .5s;
  transform-origin: center; }

.new-event-container:hover {
  color: #FC4A1A !important; }

/* ================================= 
  Button Transitions
==================================== */
button, .swal2-modal .swal2-styled, #sendMessage {
  transition: background .3s, color .3s; }

button:hover, .swal2-modal:hover .swal2-styled:hover, #sendMessage:hover {
  color: #FDFDFD;
  background: #FC4A1A !important; }

input[type="submit"] {
  transition: background .3s, color .3s; }

input[type="submit"]:hover {
  color: #FDFDFD;
  background: #FC4A1A !important; }

/* ================================= 
  Event tags, calendar and about btn Transitions
==================================== */
.calender-view-container, .filters, .mail-view-container {
  transition: background .5s, color .3s; }

.calender-view-container:hover, .filters:hover, .mail-view-container:hover {
  color: #FDFDFD !important;
  background: #FC4A1A !important; }

/* ================================= 
  Image Transitions 
==================================== */
img {
  transition: transform .5s;
  transform-origin: center; }

.single-event:hover img {
  transition: all .4s ease-in-out;
  transform: scale(1.2); }

/* ================================= 
	New Event and new partner
==================================== */
.new-event-container {
  transition: background .3s, color .3s, transform .5s;
  transform-origin: center; }

.new-event-container:hover {
  color: #FC4A1A !important; }

body .swal2-modal .swal2-styled {
  background-color: #F7B733 !important;
  font-family: 'Roboto', sans-serif; }
body .swal2-content {
  font-family: 'Roboto', sans-serif; }
body .individual-event {
  display: flex;
  width: 100%; }
  body .individual-event .countdown {
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-around;
    align-self: center;
    flex-direction: column;
    padding: 10px; }
  body .individual-event .header-container {
    padding-top: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 300px;
    box-shadow: inset 0 0 0 1100px rgba(66, 171, 158, 0.8);
    background-size: 100%; }
    body .individual-event .header-container .place-and-time {
      display: flex;
      justify-content: center;
      align-self: center;
      width: 80%; }
      body .individual-event .header-container .place-and-time .event-place-container p, body .individual-event .header-container .place-and-time .event-date-and-time-container p {
        border-right: 1px #4ABDAC solid; }
    body .individual-event .header-container h1 {
      margin: 0;
      font-size: 2.5em; }
    body .individual-event .header-container p {
      margin: 10px; }
  body .individual-event .event-info {
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column; }
    body .individual-event .event-info .individual-event-tags-row {
      padding: 1%;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-basis: 100;
      justify-content: center; }
      body .individual-event .event-info .individual-event-tags-row .individual-event-tags-border {
        border-left: 0;
        border-right: 0;
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 1%; }
        body .individual-event .event-info .individual-event-tags-row .individual-event-tags-border .individual-event-tags {
          display: flex;
          margin: 0 20px 10px 20px;
          flex-direction: row; }
          body .individual-event .event-info .individual-event-tags-row .individual-event-tags-border .individual-event-tags .individual-event-filters {
            display: flex;
            background: #FDFDFD;
            align-items: center;
            border-radius: 5px;
            height: 40px !important;
            border: 1px solid #4ABDAC;
            padding: 0 10px;
            margin: 0 20px;
            color: #4ABDAC;
            font-size: 11px; }
    body .individual-event .event-info .button {
      display: flex;
      justify-content: center;
      padding-bottom: 40px; }
      body .individual-event .event-info .button .btn-event {
        width: 20%;
        border-radius: 5px;
        margin: 0 3%;
        height: 40px;
        border: 1px solid #FDFDFD;
        background-color: #F7B733;
        cursor: pointer;
        color: #FDFDFD; }
        body .individual-event .event-info .button .btn-event a {
          color: #FDFDFD;
          text-decoration: none; }
    body .individual-event .event-info h4 {
      font-size: 1.2em;
      margin: 10px;
      display: flex;
      justify-content: center;
      padding-top: 20px; }
    body .individual-event .event-info p {
      margin: 10px; }
  body .individual-event .google-maps {
    position: relative;
    padding-bottom: 170px;
    height: 0;
    overflow: hidden; }
    body .individual-event .google-maps iframe {
      position: absolute;
      border: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px; }
  body .individual-event .partners-row {
    flex-direction: column !important;
    width: 100%;
    align-self: center; }
    body .individual-event .partners-row .partners-border {
      display: flex;
      justify-content: center;
      align-self: center;
      flex-direction: column;
      border: none;
      margin: 0;
      padding: 0; }
      body .individual-event .partners-row .partners-border .partners {
        width: 70%;
        display: flex;
        justify-content: center;
        flex-direction: row !important;
        align-self: center; }
        body .individual-event .partners-row .partners-border .partners img {
          width: 10%;
          display: flex;
          justify-content: center;
          align-self: center;
          margin: 0 20px; }
      body .individual-event .partners-row .partners-border p {
        display: flex;
        justify-content: center; }
  body .individual-event .related-events {
    padding-top: 10px;
    margin-top: 20px;
    background: #42ab9e;
    padding-bottom: 10px; }
    body .individual-event .related-events p {
      display: flex;
      justify-content: center;
      align-self: center;
      color: #FDFDFD; }
    body .individual-event .related-events .event-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%; }
      body .individual-event .related-events .event-row .single-event {
        margin: 20px;
        display: flex;
        flex-direction: column;
        background: #FDFDFD;
        width: 12%; }
        body .individual-event .related-events .event-row .single-event .upperHalf .event-head {
          background: #4ABDAC;
          padding: 4px 15px 0 15px; }
        body .individual-event .related-events .event-row .single-event .upperHalf .title-img .event-img {
          display: flex;
          flex-basis: 100%;
          height: 11vh;
          overflow: hidden; }
        body .individual-event .related-events .event-row .single-event .lowerHalf {
          display: flex;
          justify-content: center; }
body footer {
  margin: 0 0 !important; }
@media screen and (min-width: 1081px) {
  body .event-place-container, body .event-attendance-container, body .event-date-and-time-container {
    display: flex;
    justify-content: center;
    flex-direction: row; }
    body .event-place-container i, body .event-attendance-container i, body .event-date-and-time-container i {
      color: #F7B733;
      padding: 12px 20px 18px 10px; }
    body .event-place-container p, body .event-attendance-container p, body .event-date-and-time-container p {
      padding-right: 15px; } }
@media screen and (max-width: 1080px) and (min-width: 771px) {
  body .individual-event .header-container {
    height: 600px !important;
    background-size: 350% !important; }
  body .event-place-container, body .event-attendance-container, body .event-date-and-time-container {
    display: flex;
    justify-content: center;
    flex-direction: row; }
    body .event-place-container i, body .event-attendance-container i, body .event-date-and-time-container i {
      padding: 12px 20px 1px 10px;
      color: #F7B733; } }
@media screen and (max-width: 770px) and (min-width: 581px) {
  body .individual-event .header-container {
    height: 600px !important;
    background-size: 350% !important; }
  body .button {
    flex-direction: column;
    align-items: center;
    flex-basis: 100%; }
    body .button .btn-event {
      margin: 10px !important;
      width: 70% !important; }
  body .event-place-container, body .event-attendance-container, body .event-date-and-time-container {
    display: flex;
    justify-content: center;
    flex-direction: row; }
    body .event-place-container i, body .event-attendance-container i, body .event-date-and-time-container i {
      padding: 12px 20px 1px 10px;
      color: #F7B733; } }
@media screen and (max-width: 580px) and (min-width: 481px) {
  body .individual-event .header-container {
    height: 850px !important;
    background-size: 350% !important; }
    body .individual-event .header-container .place-and-time {
      flex-direction: column !important; }
      body .individual-event .header-container .place-and-time .event-place-container p, body .individual-event .header-container .place-and-time .event-date-and-time-container p {
        border-right: 0px;
        padding-bottom: 20px;
        border-bottom: 1px #4ABDAC solid; }
  body .button {
    flex-direction: column;
    align-items: center;
    flex-basis: 100%; }
    body .button .btn-event {
      margin: 10px !important;
      width: 60% !important; }
  body .event-place-container, body .event-attendance-container, body .event-date-and-time-container {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    body .event-place-container i, body .event-attendance-container i, body .event-date-and-time-container i {
      padding: 12px 20px 1px 10px;
      color: #F7B733; }
  body .partners-row .partners-border .partners {
    flex-direction: column !important; }
    body .partners-row .partners-border .partners img {
      width: 30% !important;
      margin: 10px 0px !important; }
  body .partners-row .partners-border p {
    display: flex;
    justify-content: center; } }
@media screen and (max-width: 480px) {
  body .individual-event .header-container {
    height: 700px !important;
    background-size: 350% !important; }
    body .individual-event .header-container .place-and-time {
      flex-direction: column !important; }
      body .individual-event .header-container .place-and-time .event-place-container p, body .individual-event .header-container .place-and-time .event-date-and-time-container p {
        border-right: 0px;
        padding-bottom: 20px;
        border-bottom: 1px #4ABDAC solid; }
  body .button {
    flex-direction: column;
    align-items: center;
    flex-basis: 100%; }
    body .button .btn-event {
      margin: 10px !important;
      width: 70% !important; }
  body .event-place-container, body .event-attendance-container, body .event-date-and-time-container {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    body .event-place-container i, body .event-attendance-container i, body .event-date-and-time-container i {
      padding: 12px 20px 1px 10px;
      color: #F7B733; } }
body .partners-row .partners-border .partners {
  flex-direction: column !important; }
  body .partners-row .partners-border .partners img {
    width: 30% !important;
    margin: 10px 0px !important; }
body .partners-row .partners-border p {
  display: flex;
  justify-content: center; }

body .sent-message {
  display: flex;
  justify-content: center;
  width: 100%; }
  body .sent-message .message {
    height: 625px;
    display: flex;
    flex-direction: column;
    padding-top: 10%; }
    body .sent-message .message p {
      display: flex;
      justify-content: center; }

body .p-partners-header {
  flex-direction: column;
  text-align: center;
  background-image: url(https://www.timeshighereducation.com/sites/default/files/lecture-hall.jpg);
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 100px rgba(66, 171, 158, 0.8);
  background-size: 100%;
  height: 180px;
  /* border-bottom: 2px black solid; */
  /* border-top: 1px black solid; */
  padding-top: 1%;
  display: flex; }
  body .p-partners-header h1 {
    margin: 20px 0 0 0; }
  body .p-partners-header .header-right {
    width: 17%; }
    body .p-partners-header .header-right .mail-view {
      display: flex;
      text-align: left; }
      body .p-partners-header .header-right .mail-view .mail-view-container {
        display: flex;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        background-color: #F7B733; }
        body .p-partners-header .header-right .mail-view .mail-view-container .fa-envelope-o {
          font-size: 2em;
          padding: 10px;
          color: white; }
        body .p-partners-header .header-right .mail-view .mail-view-container .mail-view-text {
          padding: 17px 15px 15px 5px;
          color: white; }
  body .p-partners-header p {
    display: flex;
    justify-content: center;
    align-self: center; }
body .p-partners-border {
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0; }
  body .p-partners-border .p-partners {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    margin-bottom: 30px; }
    body .p-partners-border .p-partners img {
      width: 30%;
      display: flex;
      justify-content: center;
      align-self: center;
      margin: 20px;
      padding: 20px; }
  body .p-partners-border p {
    display: flex;
    justify-content: center; }
body footer {
  margin-top: 40px; }
@media screen and (min-width: 801px) {
  body .mail-view-container {
    margin: 65px 0 10px 20px;
    justify-content: flex-end; } }
@media screen and (max-width: 800px) {
  body .p-partners-header p {
    margin: 15px;
    align-self: center;
    justify-content: center; }
  body .p-partners-header .mail-view {
    display: flex;
    text-align: left;
    justify-content: center;
    margin: 0px; }
  body .p-partners-row {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  body .partners-border {
    flex-direction: column;
    width: 100%; }
  body .p-partners {
    flex-wrap: wrap; }
    body .p-partners img {
      width: 10%;
      display: flex;
      justify-content: center;
      align-self: center;
      margin: 15px 35px !important; } }

body .about-container {
  flex-direction: column;
  text-align: center;
  background-image: url(https://www.timeshighereducation.com/sites/default/files/lecture-hall.jpg);
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 100px rgba(66, 171, 158, 0.8);
  background-size: 100%;
  height: 180px;
  /* border-bottom: 2px black solid; */
  /* border-top: 1px black solid; */
  padding-top: 1%;
  display: flex; }
  body .about-container h1 {
    margin: 20px 0 0 0; }
  body .about-container .header-mid p {
    width: 100%; }
  body .about-container .header-right {
    width: 17%; }
    body .about-container .header-right .mail-view {
      display: flex;
      text-align: left; }
      body .about-container .header-right .mail-view .mail-view-container {
        display: flex;
        justify-content: center;
        border-radius: 5px;
        /* border: 1.5px solid #0D0D0D; */
        cursor: pointer;
        background-color: #F7B733;
        transition: background .5s, color .3s; }
        body .about-container .header-right .mail-view .mail-view-container .fa-envelope-o {
          font-size: 2em;
          padding: 10px;
          color: white; }
      body .about-container .header-right .mail-view .mail-view-text {
        padding: 17px 15px 15px 5px;
        color: white; }
body .about-info-container {
  width: 100%;
  display: flex;
  justify-content: center; }
  body .about-info-container .about-info {
    width: 70%;
    flex-direction: column; }
    body .about-info-container .about-info p {
      display: flex;
      align-self: center;
      justify-content: center;
      padding-bottom: 5px; }
    body .about-info-container .about-info h4 {
      display: flex;
      justify-content: center;
      padding: 15px; }
@media screen and (min-width: 801px) {
  body .mail-view-container {
    margin: 65px 0 10px 20px;
    justify-content: flex-end; } }
@media screen and (max-width: 800px) {
  body .about-container {
    display: flex;
    flex-direction: column;
    align-self: center; }
    body .about-container p {
      width: 100%;
      display: flex;
      margin: 10px;
      align-self: center;
      justify-content: center; }
  body .header-right .mail-view {
    display: flex;
    margin: 0;
    justify-content: center;
    align-self: center; } }

body .get-involved-container {
  text-align: center;
  background-image: url(https://www.timeshighereducation.com/sites/default/files/lecture-hall.jpg);
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 100px rgba(66, 171, 158, 0.8);
  background-size: 100%;
  height: 150px; }
body .login-container {
  display: flex;
  width: 100%;
  justify-content: center; }
  body .login-container .flex-form-login {
    display: flex;
    flex-direction: column;
    padding: 20px; }
    @media screen and (min-width: 1001px) {
      body .login-container .flex-form-login {
        width: 40%;
        display: flex;
        flex-direction: column;
        padding: 20px; }
        body .login-container .flex-form-login .userEmail-container {
          flex-direction: row; } }
    @media screen and (min-width: 501px) and (max-width: 1000px) {
      body .login-container .flex-form-login {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 20px; }
        body .login-container .flex-form-login .userEmail-container {
          flex-direction: row; } }
    @media screen and (max-width: 500px) {
      body .login-container .flex-form-login {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 20px; }
        body .login-container .flex-form-login .userEmail-container {
          flex-direction: column; } }
    body .login-container .flex-form-login label {
      margin-top: 10px;
      padding: 15px 15px 15px 0px; }
    body .login-container .flex-form-login input {
      padding: 15px; }
    body .login-container .flex-form-login textarea {
      padding: 15px;
      margin-bottom: 10px; }
    body .login-container .flex-form-login .userEmail-container, body .login-container .flex-form-login .password-container {
      display: flex;
      flex-direction: column; }
    body .login-container .flex-form-login .logForm-btn {
      color: white;
      border-radius: 5px;
      height: 40px;
      width: 150px;
      justify-content: center;
      padding-top: 12px;
      margin: 10px 0 150px 0;
      border: 1.5px solid #FDFDFD;
      background-color: #F7B733;
      display: flex;
      align-self: center; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  border: 0;
  margin: 0;
  font-size: 16px;
  outline: 0;
  -webkit-appearance: none; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: 'Ubuntu', sans-serif; }

.toggleNav {
  display: none; }

.flex-nav {
  background-color: #FDFDFD;
  font-family: 'Ubuntu', sans-serif;
  height: 75px;
  display: flex;
  padding: 0 30px;
  align-items: center;
  flex-direction: row;
  color: #0D0D0D;
  justify-content: space-between;
  border-bottom: 1px solid #0D0D0D;
  /* Flex Container */
  /* Flex Item */ }
  .flex-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; }
  .flex-nav .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .flex-nav .nav-left img {
      display: flex;
      align-items: center;
      width: 100px; }
    .flex-nav .nav-left div {
      margin-left: 20px; }
  .flex-nav li {
    margin-left: 20px;
    color: #0D0D0D; }
  .flex-nav a {
    color: #0D0D0D;
    text-decoration: none; }

footer {
  font-family: 'Ubuntu', sans-serif;
  left: 0;
  bottom: 0;
  right: 0;
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FDFDFD;
  color: black;
  margin-top: 20px;
  border-top: 1px solid #0D0D0D; }

@media screen and (min-width: 721px) and (max-width: 1000px) {
  body {
    font-size: 0.8em !important; }

  .flex-nav {
    padding: 0 20px; }
    .flex-nav ul li {
      width: 100px;
      margin-left: 5px;
      font-size: 1.2em; } }
@media screen and (min-width: 501px) and (max-width: 720px) {
  body {
    font-size: 0.8em; }

  .flex-nav {
    padding: 0 10px; }
    .flex-nav ul {
      display: none;
      flex-wrap: wrap;
      width: 40%;
      position: absolute;
      text-align: right;
      top: 22px;
      right: 0px;
      background-color: #FDFDFD; }
    .flex-nav ul li {
      flex-basis: 100%;
      margin: 8px 5px;
      padding: 10px 0; }
    .flex-nav ul.open {
      display: flex; }
    .flex-nav .nav-right {
      flex-basis: 40%; }
    .flex-nav .toggleNav {
      display: block !important;
      text-align: right; } }
@media screen and (max-width: 500px) {
  body {
    font-size: 0.8em; }

  .flex-nav {
    padding: 0 10px; }
    .flex-nav ul {
      display: none;
      flex-wrap: wrap;
      position: absolute;
      z-index: 1;
      top: 22px;
      right: 0px;
      width: 70% !important;
      background-color: #FDFDFD; }
    .flex-nav ul li {
      flex-basis: 100%;
      margin: 8px 5px;
      padding: 20px 0;
      text-align: right;
      margin-right: 5px; }
    .flex-nav ul.open {
      display: flex; }
    .flex-nav .nav-right {
      flex-basis: 60%; }
      .flex-nav .nav-right .toggleNav {
        display: block !important;
        text-align: right; } }

/*# sourceMappingURL=style.css.map */
