/* ================================= 
  Button Transitions
==================================== */
button {
  transition: background .3s, color .3s; }

button:hover {
  color: #FDFDFD;
  background: black !important;
  border: 1px solid black; }

input[type="submit"] {
  transition: background .3s, color .3s; }

input[type="submit"]:hover {
  color: #FDFDFD;
  background: #2E7D32 !important; }

/* ================================= 
  Event tags and calendar Transitions
==================================== */
.calender-view-container, .filters {
  transition: background .3s, color .3s; }

.calender-view-container:hover, .filters:hover {
  color: #FDFDFD !important;
  background: #212121 !important;
  border-color: #212121 !important; }

/* ================================= 
  Image Transitions 
==================================== */
img {
  transition: transform .5s;
  transform-origin: center; }

.single-event:hover img {
  transition: all .4s ease-in-out;
  transform: scale(1.2); }

.event-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%; }
  .event-container .header-container {
    text-align: center;
    background-image: url("https://www.timeshighereducation.com/sites/default/files/lecture-hall.jpg");
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 100px rgba(66, 171, 158, 0.8);
    background-size: 100%;
    height: 150px;
    /* border-bottom: 2px black solid; */
    /* border-top: 1px black solid; */
    padding-top: 1%;
    display: flex;
    flex-direction: row; }
    .event-container .header-container .header-mid {
      width: 66%;
      color: white; }
    .event-container .header-container .header-right, .event-container .header-container .header-left {
      width: 17%; }
      .event-container .header-container .header-right .calender-view, .event-container .header-container .header-left .calender-view {
        display: flex;
        margin: 65px 0 10px 20px;
        text-align: left;
        justify-content: flex-end; }
        .event-container .header-container .header-right .calender-view .calender-view-container, .event-container .header-container .header-right .calender-view .calender-view-container2, .event-container .header-container .header-left .calender-view .calender-view-container, .event-container .header-container .header-left .calender-view .calender-view-container2 {
          display: flex;
          margin-right: 8%;
          justify-content: center;
          border-radius: 5px;
          /* border: 1.5px solid #0D0D0D; */
          cursor: pointer;
          background-color: #ecd06f; }
          .event-container .header-container .header-right .calender-view .calender-view-container .fa-calendar, .event-container .header-container .header-right .calender-view .calender-view-container2 .fa-calendar, .event-container .header-container .header-left .calender-view .calender-view-container .fa-calendar, .event-container .header-container .header-left .calender-view .calender-view-container2 .fa-calendar {
            font-size: 2em;
            padding: 10px;
            color: white; }
          .event-container .header-container .header-right .calender-view .calender-view-container .fa-list, .event-container .header-container .header-right .calender-view .calender-view-container2 .fa-list, .event-container .header-container .header-left .calender-view .calender-view-container .fa-list, .event-container .header-container .header-left .calender-view .calender-view-container2 .fa-list {
            font-size: 2em;
            padding: 10px;
            color: white; }
          .event-container .header-container .header-right .calender-view .calender-view-container .calender-view-text, .event-container .header-container .header-right .calender-view .calender-view-container2 .calender-view-text, .event-container .header-container .header-left .calender-view .calender-view-container .calender-view-text, .event-container .header-container .header-left .calender-view .calender-view-container2 .calender-view-text {
            padding: 17px 15px 15px 5px;
            color: white; }
          .event-container .header-container .header-right .calender-view .calender-view-container .calender-view-text2, .event-container .header-container .header-right .calender-view .calender-view-container2 .calender-view-text2, .event-container .header-container .header-left .calender-view .calender-view-container .calender-view-text2, .event-container .header-container .header-left .calender-view .calender-view-container2 .calender-view-text2 {
            padding: 15px 15px 15px 5px;
            color: white; }
  .event-container .event-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .event-container .tags-row {
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 100;
    justify-content: center; }
    .event-container .tags-row .tags-border {
      border-bottom: 1px grey solid;
      border-left: 0;
      border-right: 0;
      width: 90%;
      display: flex;
      justify-content: center;
      padding: 1% 2%; }
      .event-container .tags-row .tags-border .tags {
        display: flex;
        margin: 10px 20px;
        flex-basis: 60%;
        flex-direction: row;
        padding-bottom: 1%; }
        .event-container .tags-row .tags-border .tags .filters {
          display: flex;
          background: #FDFDFD;
          align-items: center;
          border-radius: 5px;
          height: 40px !important;
          border: 1px solid darkgrey;
          padding: 0 10px;
          margin: 0 20px;
          cursor: pointer;
          color: darkgrey;
          font-size: 11px; }
  .event-container .admin-new-event {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px 0 0; }
    .event-container .admin-new-event .fa-plus {
      margin-left: 30px;
      font-size: 2.5em; }
  .event-container .event-calendar {
    display: flex;
    flex-basis: 100%;
    padding: 20px; }
    .event-container .event-calendar img {
      visibility: hidden;
      width: 100%;
      height: 100%; }
  .event-container .event-row {
    display: flex;
    flex-direction: row;
    width: 90%; }
    .event-container .event-row .single-event {
      margin: 20px;
      display: flex;
      flex-direction: column;
      flex: 20;
      background: #F7F7F7; }
      .event-container .event-row .single-event .upperHalf {
        display: flex;
        flex-direction: row; }
        .event-container .event-row .single-event .upperHalf .event-head {
          background: #42ab9e;
          padding: 10px 15px 5px 15px; }
          .event-container .event-row .single-event .upperHalf .event-head h2, .event-container .event-row .single-event .upperHalf .event-head h5 {
            margin: 0;
            color: white; }
          .event-container .event-row .single-event .upperHalf .event-head h2 {
            font-size: 35px; }
          .event-container .event-row .single-event .upperHalf .event-head h5 {
            padding-bottom: 5px; }
        .event-container .event-row .single-event .upperHalf .title-img .event-img {
          display: flex;
          flex-basis: 100%;
          height: 20vh;
          overflow: hidden; }
          .event-container .event-row .single-event .upperHalf .title-img .event-img img {
            display: block;
            max-width: 100%; }
      .event-container .event-row .single-event .lowerHalf {
        display: flex; }
        .event-container .event-row .single-event .lowerHalf .event-info-container {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-direction: column;
          margin: 15px 0; }
          .event-container .event-row .single-event .lowerHalf .event-info-container h1 {
            font-size: 1.5em;
            margin: 5px; }
          .event-container .event-row .single-event .lowerHalf .event-info-container h2, .event-container .event-row .single-event .lowerHalf .event-info-container h3, .event-container .event-row .single-event .lowerHalf .event-info-container h4, .event-container .event-row .single-event .lowerHalf .event-info-container h5, .event-container .event-row .single-event .lowerHalf .event-info-container h6 {
            margin: 5px 0 5px 0;
            font-size: 0.9em;
            color: #42ab9e; }
          .event-container .event-row .single-event .lowerHalf .event-info-container p {
            text-align: center;
            margin: 10px;
            font-size: 0.9em; }
          .event-container .event-row .single-event .lowerHalf .event-info-container .event-tags {
            display: flex;
            flex-direction: row;
            font-size: 10px;
            margin-top: 15px; }
            .event-container .event-row .single-event .lowerHalf .event-info-container .event-tags div {
              padding: 5px 5px;
              margin-bottom: 5px; }
          .event-container .event-row .single-event .lowerHalf .event-info-container .btn-event {
            width: 30%;
            border-radius: 5px;
            margin: 3%;
            height: 40px;
            border: 1px solid #F7F7F7;
            background-color: #ecd06f;
            cursor: pointer; }
            .event-container .event-row .single-event .lowerHalf .event-info-container .btn-event a {
              color: #FDFDFD;
              text-decoration: none; }

body .getInvolvedContainer {
  display: flex;
  width: 100%;
  justify-content: center; }
  body .getInvolvedContainer .getInvolvedWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px; }
    @media screen and (min-width: 1001px) {
      body .getInvolvedContainer .getInvolvedWrapper {
        width: 40%;
        display: flex;
        flex-direction: column;
        padding: 20px; }
        body .getInvolvedContainer .getInvolvedWrapper .name {
          flex-direction: row; } }
    @media screen and (min-width: 501px) and (max-width: 1000px) {
      body .getInvolvedContainer .getInvolvedWrapper {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 20px; }
        body .getInvolvedContainer .getInvolvedWrapper .name {
          flex-direction: row; } }
    @media screen and (max-width: 500px) {
      body .getInvolvedContainer .getInvolvedWrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 20px; }
        body .getInvolvedContainer .getInvolvedWrapper .name {
          flex-direction: column; } }
    body .getInvolvedContainer .getInvolvedWrapper label {
      margin-top: 10px;
      padding: 15px; }
    body .getInvolvedContainer .getInvolvedWrapper input {
      padding: 15px; }
    body .getInvolvedContainer .getInvolvedWrapper textarea {
      padding: 15px;
      margin-bottom: 10px; }
    body .getInvolvedContainer .getInvolvedWrapper .name {
      display: flex; }
      body .getInvolvedContainer .getInvolvedWrapper .name .firstName, body .getInvolvedContainer .getInvolvedWrapper .name .lastName {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-around; }
      body .getInvolvedContainer .getInvolvedWrapper .name .firstName {
        margin-right: 15px; }
    body .getInvolvedContainer .getInvolvedWrapper #sendMessage {
      color: white;
      border-radius: 20px;
      height: 40px;
      padding-top: 12px;
      border: 1.5px solid #0D0D0D;
      background-color: #212121; }

/* ================================= 
  Button Transitions
==================================== */
button {
  transition: background .3s, color .3s; }

button:hover {
  color: #FDFDFD;
  background: black !important;
  border: 1px solid black; }

input[type="submit"] {
  transition: background .3s, color .3s; }

input[type="submit"]:hover {
  color: #FDFDFD;
  background: #2E7D32 !important; }

/* ================================= 
  Event tags and calendar Transitions
==================================== */
.calender-view-container, .filters {
  transition: background .3s, color .3s; }

.calender-view-container:hover, .filters:hover {
  color: #FDFDFD !important;
  background: #212121 !important;
  border-color: #212121 !important; }

/* ================================= 
  Image Transitions 
==================================== */
img {
  transition: transform .5s;
  transform-origin: center; }

.single-event:hover img {
  transition: all .4s ease-in-out;
  transform: scale(1.2); }

/* ================================= 
  Button Transitions
==================================== */
button {
  transition: background .3s, color .3s; }

button:hover {
  color: #FDFDFD;
  background: black !important;
  border: 1px solid black; }

input[type="submit"] {
  transition: background .3s, color .3s; }

input[type="submit"]:hover {
  color: #FDFDFD;
  background: #2E7D32 !important; }

/* ================================= 
  Event tags and calendar Transitions
==================================== */
.calender-view-container, .filters {
  transition: background .3s, color .3s; }

.calender-view-container:hover, .filters:hover {
  color: #FDFDFD !important;
  background: #212121 !important;
  border-color: #212121 !important; }

/* ================================= 
  Image Transitions 
==================================== */
img {
  transition: transform .5s;
  transform-origin: center; }

.single-event:hover img {
  transition: all .4s ease-in-out;
  transform: scale(1.2); }

body .individual-event {
  display: flex;
  width: 100%; }
  body .individual-event .event-image-container {
    width: 75%;
    display: flex;
    margin-top: 40px;
    align-self: center;
    justify-content: space-between; }
    body .individual-event .event-image-container .event-place-container {
      width: 200px;
      height: 50px;
      background-color: black;
      align-self: flex-end; }
      body .individual-event .event-image-container .event-place-container p {
        display: flex;
        justify-content: center;
        color: white; }
  @media screen and (min-width: 1001px) {
    body .individual-event .event-information {
      width: 60%;
      margin-top: 2%;
      display: flex;
      align-self: center;
      justify-content: center;
      flex-direction: column; }
      body .individual-event .event-information .place-and-time {
        display: flex;
        width: 100%;
        justify-content: space-between; }
        body .individual-event .event-information .place-and-time .event-place-container {
          width: 200px;
          height: 50px;
          background-color: grey; }
          body .individual-event .event-information .place-and-time .event-place-container p {
            display: flex;
            justify-content: center;
            color: white; }
        body .individual-event .event-information .place-and-time .event-date-and-time-container {
          width: 200px;
          height: 50px;
          background-color: grey; }
          body .individual-event .event-information .place-and-time .event-date-and-time-container p {
            display: flex;
            justify-content: center;
            color: white; }
      body .individual-event .event-information .event-info .button {
        width: 100%;
        display: flex;
        justify-content: center; }
        body .individual-event .event-information .event-info .button .btn-event {
          width: 20%;
          border-radius: 5px;
          height: 50px;
          border: 1.5px solid #0D0D0D;
          background-color: #212121;
          cursor: pointer;
          margin: 5px; }
          body .individual-event .event-information .event-info .button .btn-event a {
            color: #FDFDFD;
            text-decoration: none; }
    body .individual-event .event-info p {
      display: flex;
      align-self: center;
      justify-content: center; }
    body .individual-event .event-info h4 {
      display: flex;
      justify-content: center; }
    body .individual-event .event-info .event-tags {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 10px;
      margin: 30px 0 20px 0; }
      body .individual-event .event-info .event-tags div {
        padding: 5px 5px;
        display: flex;
        justify-content: center; } }
@media screen and (max-width: 1000px) {
  body .event-information {
    width: 80%;
    margin-top: 2%;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column; }
    body .event-information .place-and-time {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px; }
      body .event-information .place-and-time .event-place-container {
        width: 40%;
        height: 40px;
        background-color: grey;
        align-self: center; }
        body .event-information .place-and-time .event-place-container p {
          display: flex;
          justify-content: center;
          color: white; }
      body .event-information .place-and-time .event-date-and-time-container {
        width: 40%;
        height: 40px;
        align-self: center;
        background-color: grey; }
        body .event-information .place-and-time .event-date-and-time-container p {
          display: flex;
          justify-content: center;
          color: white; }
    body .event-information .event-info .event-tags {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 10px;
      margin: 0 0 20px 0; }
      body .event-information .event-info .event-tags div {
        padding: 5px 5px;
        display: flex;
        justify-content: center; }
    body .event-information .button {
      width: 100%;
      display: flex;
      justify-content: center; }
      body .event-information .button .btn-event {
        width: 45%;
        border-radius: 5px;
        height: 50px;
        border: 1.5px solid #0D0D0D;
        background-color: #212121;
        cursor: pointer;
        margin: 5px; }
        body .event-information .button .btn-event a {
          color: #FDFDFD;
          text-decoration: none; } }

body .sent-message {
  display: flex;
  justify-content: center;
  width: 100%; }
  body .sent-message .message {
    height: 625px;
    display: flex;
    flex-direction: column;
    padding-top: 10%; }
    body .sent-message .message p {
      display: flex;
      justify-content: center; }

@media screen and (min-width: 1001px) {
  body .partnersContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 565px; }
    body .partnersContainer .first-partner-wrapper, body .partnersContainer .second-partner-wrapper, body .partnersContainer .third-partner-wrapper {
      width: 40%;
      height: 500px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: center; }
      body .partnersContainer .first-partner-wrapper img, body .partnersContainer .second-partner-wrapper img, body .partnersContainer .third-partner-wrapper img {
        padding: 70px;
        width: 70%;
        margin-bottom: 50px; }
      body .partnersContainer .first-partner-wrapper .ibm-image, body .partnersContainer .second-partner-wrapper .ibm-image, body .partnersContainer .third-partner-wrapper .ibm-image {
        padding: 140px 50px;
        width: 70%; }
      body .partnersContainer .first-partner-wrapper .google-image, body .partnersContainer .second-partner-wrapper .google-image, body .partnersContainer .third-partner-wrapper .google-image {
        padding: 100px 50px;
        width: 70%; } }
@media screen and (min-width: 501px) and (max-width: 1000px) {
  body .partnersContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 840px; }
    body .partnersContainer .first-partner-wrapper, body .partnersContainer .second-partner-wrapper, body .partnersContainer .third-partner-wrapper {
      width: 40%;
      height: 850px;
      display: flex;
      flex-direction: column;
      align-self: center; }
      body .partnersContainer .first-partner-wrapper img, body .partnersContainer .second-partner-wrapper img, body .partnersContainer .third-partner-wrapper img {
        padding: 20px 15px; } }
@media screen and (max-width: 500px) {
  body .partnersContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 840px; }
    body .partnersContainer .first-partner-wrapper, body .partnersContainer .second-partner-wrapper, body .partnersContainer .third-partner-wrapper {
      width: 60%;
      height: 850px;
      display: flex;
      flex-direction: column;
      align-self: center; }
      body .partnersContainer .first-partner-wrapper img, body .partnersContainer .second-partner-wrapper img, body .partnersContainer .third-partner-wrapper img {
        padding: 20px 15px; } }

body .about-info-container {
  width: 100%;
  display: flex;
  justify-content: center; }
  body .about-info-container .about-info {
    width: 70%;
    flex-direction: column; }
    body .about-info-container .about-info p {
      display: flex;
      align-self: center;
      justify-content: center;
      padding-bottom: 5px; }
    body .about-info-container .about-info h4 {
      display: flex;
      justify-content: center;
      padding: 15px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  border: 0;
  margin: 0;
  font-size: 16px;
  outline: 0;
  -webkit-appearance: none; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: 'Ubuntu', sans-serif; }

.toggleNav {
  display: none; }

.flex-nav {
  background-color: #FDFDFD;
  font-family: 'Ubuntu', sans-serif;
  height: 75px;
  display: flex;
  padding: 0 30px;
  align-items: center;
  flex-direction: row;
  color: #0D0D0D;
  justify-content: space-between;
  border-bottom: 1px solid #0D0D0D;
  /* Flex Container */
  /* Flex Item */ }
  .flex-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; }
  .flex-nav .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .flex-nav .nav-left img {
      display: flex;
      align-items: center;
      width: 100px; }
    .flex-nav .nav-left div {
      margin-left: 20px; }
  .flex-nav li {
    margin-left: 20px;
    color: #0D0D0D; }
  .flex-nav a {
    color: #0D0D0D;
    text-decoration: none; }

footer {
  font-family: 'Ubuntu', sans-serif;
  left: 0;
  bottom: 0;
  right: 0;
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FDFDFD;
  color: black;
  margin-top: 20px;
  border-top: 1px solid #0D0D0D; }

@media screen and (min-width: 721px) and (max-width: 1000px) {
  body {
    font-size: 0.8em !important; }

  .flex-nav {
    padding: 0 20px; }
    .flex-nav ul li {
      width: 100px;
      margin-left: 5px;
      font-size: 1.2em; } }
@media screen and (min-width: 501px) and (max-width: 720px) {
  body {
    font-size: 0.8em; }

  .flex-nav {
    padding: 0 10px; }
    .flex-nav ul {
      display: none;
      flex-wrap: wrap;
      width: 40%;
      position: absolute;
      text-align: right;
      top: 22px;
      right: 0px;
      background-color: #FDFDFD; }
    .flex-nav ul li {
      flex-basis: 100%;
      margin: 8px 5px;
      padding: 10px 0; }
    .flex-nav ul.open {
      display: flex; }
    .flex-nav .nav-right {
      flex-basis: 40%; }
    .flex-nav .toggleNav {
      display: block;
      text-align: right; } }
@media screen and (max-width: 500px) {
  body {
    font-size: 0.8em; }

  .flex-nav {
    padding: 0 10px; }
    .flex-nav ul {
      display: none;
      flex-wrap: wrap;
      position: absolute;
      z-index: 1;
      top: 22px;
      right: 0px;
      width: 70% !important;
      background-color: #FDFDFD; }
    .flex-nav ul li {
      flex-basis: 100%;
      margin: 8px 5px;
      padding: 20px 0;
      text-align: right;
      margin-right: 5px; }
    .flex-nav ul.open {
      display: flex; }
    .flex-nav .nav-right {
      flex-basis: 60%; }
    .flex-nav .toggleNav {
      display: block;
      text-align: right; } }

/*# sourceMappingURL=style.css.map */
