body{

  .about-container{
    text-align: center;
    background-image: url(https://www.timeshighereducation.com/sites/default/files/lecture-hall.jpg);
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 100px rgba(66, 171, 158, 0.8);
    background-size: 100%;
    height: 200px !important;
    padding-top: 1%;
    display: flex;
    flex-direction: column !important;
    color: white;

    h1{
      margin: 20px 0 0 0;
    }

    .mail-view {
      display: flex;
      text-align: left;
      justify-content: flex-end;
      //flex-basis: 15%;


      .mail-view-container{
        display: flex;
        justify-content: center;
        border-radius: 5px;
        /* border: 1.5px solid #0D0D0D; */
        cursor: pointer;
        background-color: #ecd06f;

        .fa-envelope-o {
          font-size: 2em;
          padding: 10px;
          color: white;
        }

        .mail-view-text {
          padding: 17px 15px 15px 5px;
          color: white;
        }
      }
    }
  }

  .about-info-container{
    width: 100%;
    display: flex;
    justify-content: center;

    .about-info{
      width: 70%;
      flex-direction: column;

      p{
        display: flex;
        align-self: center;
        justify-content: center;
        padding-bottom: 5px;
      }

      h4{
        display:flex;
        justify-content: center;
        padding: 15px;
      }
    }
  }

  @media screen and (min-width: 501px) {

    .mail-view-container{
      margin-right: 8%;
    }
  }

  @media screen and (max-width: 500px) {

    .about-container .mail-view.mail-view {
      display: flex;
      text-align: left;
      justify-content: center;
    }
  }
}