@import "colors.scss";

/* ================================= 
  Button Transitions
==================================== */

button {
	transition: background .3s, color .3s;
}
button:hover {
	color: $white;
	background: $btnGreen !important;
}

input[type="submit"] {
    transition: background .3s, color .3s;
}

input[type="submit"]:hover {
    color: $white;
	background: $btnGreen !important;
}


/* ================================= 
  Event tags and calendar Transitions
==================================== */

.calender-view-container, .filters {
	transition: background .3s, color .3s;
}

.calender-view-container:hover, .filters:hover {
	color: $white;
	background: $darkGrey !important;
}



/* ================================= 
  Image Transitions 
==================================== */

img {
	transition: transform .5s;
    transform-origin: center;

}

.single-event:hover img {
	transition: all .4s ease-in-out;
	transform: scale(1.2);
}