@import "mixins.scss";
@import "colors.scss";
@import "animation.scss";




body {

  .swal2-modal .swal2-styled {
    background-color: $yellow !important;
    font-family: 'Roboto', sans-serif;
    
  
  }

  .swal2-content {
    font-family: 'Roboto', sans-serif;
  }


    .individual-event {
      display: flex;
      width: 100%;

      .countdown{
        display: flex;
        width: 100%;
        color: white;
        justify-content: space-around;
        align-self: center;
        flex-direction: column;
        padding: 10px;
      }

      .header-container {
        padding-top: 1%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        height: 300px;
        box-shadow: inset 0 0 0 1100px rgba(66, 171, 158, 0.8);
        background-size: 100%;

        .place-and-time {
          display: flex;
          justify-content: center;
          align-self: center;
          width: 80%;
          //border-bottom: 2px solid #blue;
          //padding-bottom: 10px;
          //margin-bottom: 10px;

          .event-place-container, .event-date-and-time-container {

            p {
              border-right: 1px $blue solid;
            }
          }
        }

        h1 {
          margin: 0;
          font-size: 2.5em;
        }

        p{
          margin: 10px;
        }
      }

      .event-info{
        width: 80%;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;

        .individual-event-tags-row{
          padding: 1%;
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-basis: 100;
          justify-content: center;

          .individual-event-tags-border {
            border-left: 0;
            border-right: 0;
            width: 50%;
            display: flex;
            justify-content: center;
            padding: 1%;

            .individual-event-tags{
              display: flex;
              margin: 0 20px 10px 20px;
              flex-direction: row;

              .individual-event-filters{
                display: flex;
                background: $white;
                align-items: center;
                border-radius: 5px;
                height: 40px !important;
                border: 1px solid $blue;
                padding: 0 10px;
                margin: 0 20px;
                color: $blue;
                font-size: 11px;
              }
            }
          }
        }

        .button{
          display: flex;
          justify-content: center;
          padding-bottom: 40px;

          .btn-event {
            width: 20%;
            border-radius: 5px;
            margin: 0 3%;
            height: 40px;
            border: 1px solid $white;
            background-color: $yellow;
            cursor: pointer;
            color: $white;

            a {
              color: $white;
              text-decoration: none;
            }
          }
        }

        h4{
          font-size: 1.2em;
          margin: 10px;
          display: flex;
          justify-content: center;
          padding-top: 20px;
        }

        p{
          margin: 10px;
        }
      }

      .google-maps {
        position: relative;
        padding-bottom: 170px;
        height: 0;
        overflow: hidden;

        iframe {
          position: absolute;
          border: none;
          top: 0;
          left: 0;
          width: 100%;
          height: 150px;
        }
      }

      .partners-row{
        flex-direction: row;
        width: 100%;
        align-self: center;

        .partners-border{
          display: flex;
          justify-content: center;
          align-self: center;
          flex-direction: column;
          border: none;
          margin: 0;
          padding: 0;

          .partners{
            display: flex;
            justify-content: center;
            align-self: center;

            img{
              width: 10%;
              display: flex;
              justify-content: center;
              align-self: center;
              margin: 0 20px;
            }
          }

          p{
            display: flex;
            justify-content: center;
          }

        }
      }

      .related-events{
        padding-top: 10px;
        margin-top: 20px;
        background: rgb(66, 171, 158);
        padding-bottom: 10px;

        p{
          display: flex;
          justify-content: center;
          align-self: center;
          color: $white;
        }

        .event-row {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;

          .single-event {
            margin: 20px;
            display: flex;
            flex-direction: column;
            background: $white;
            width: 12%;

            .upperHalf{

              .event-head {
                background: $blue;
                padding: 4px 15px 0 15px;
              }

              .title-img .event-img {
                display: flex;
                flex-basis: 100%;
                height: 11vh;
                overflow: hidden;
              }
            }

            .lowerHalf {
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }

    footer{
      margin: 0 0!important;
    }

  @media screen and (min-width: 1081px) {
    .event-place-container, .event-attendance-container, .event-date-and-time-container {
      display: flex;
      justify-content: center;
      flex-direction: row;

      i {
        color: $yellow;
        padding: 12px 20px 18px 10px;
      }

      p {
        padding-right: 15px;
      }
    }
  }

  @media screen and (max-width: 1080px) and (min-width: 581px) {
    .individual-event .header-container{
      height: 750px !important;
      background-size: 350% !important;
    }

    .event-place-container, .event-attendance-container, .event-date-and-time-container {
      display: flex;
      justify-content: center;
      flex-direction: row;

      i {
        padding: 12px 20px 1px 10px;
        color: $yellow;
      }
    }
  }

  @media screen and (max-width: 580px) and (min-width: 481px){
    .individual-event .header-container{
      height: 850px !important;
      background-size: 350% !important;
    }

    .event-place-container, .event-attendance-container, .event-date-and-time-container {
      display: flex;
      justify-content: center;
      flex-direction: column;

      i {
        padding: 12px 20px 1px 10px;
        color: $yellow;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .individual-event .header-container{
      height: 700px !important;
      background-size: 350% !important;
    }

    .event-place-container, .event-attendance-container, .event-date-and-time-container {
      display: flex;
      justify-content: center;
      flex-direction: column;

      i {
        padding: 12px 20px 1px 10px;
        color:$yellow;
      }
    }
  }
}

