/* ================================= 
  Button Transitions
==================================== */
button {
  transition: background .3s, color .3s; }

button:hover {
  color: #FDFDFD;
  background: #2E7D32 !important; }

input[type="submit"] {
  transition: background .3s, color .3s; }

input[type="submit"]:hover {
  color: #FDFDFD;
  background: #2E7D32 !important; }

/* ================================= 
  Event tags and calendar Transitions
==================================== */
.calender-view-container, .filters {
  transition: background .3s, color .3s; }

.calender-view-container:hover, .filters:hover {
  color: #FDFDFD;
  background: #212121 !important; }

/* ================================= 
  Image Transitions 
==================================== */
img {
  transition: transform .5s;
  transform-origin: center; }

.single-event:hover img {
  transition: all .4s ease-in-out;
  transform: scale(1.2); }

body .individual-event {
  display: flex;
  width: 100%; }
  body .individual-event .event-image-container {
    width: 75%;
    display: flex;
    margin-top: 40px;
    align-self: center;
    justify-content: space-between; }
    body .individual-event .event-image-container .event-place-container {
      width: 200px;
      height: 50px;
      background-color: black;
      align-self: flex-end; }
      body .individual-event .event-image-container .event-place-container p {
        display: flex;
        justify-content: center;
        color: white; }
  @media screen and (min-width: 1001px) {
    body .individual-event .event-information {
      width: 60%;
      margin-top: 2%;
      display: flex;
      align-self: center;
      justify-content: center;
      flex-direction: column; }
      body .individual-event .event-information .place-and-time {
        display: flex;
        width: 100%;
        justify-content: space-between; }
        body .individual-event .event-information .place-and-time .event-place-container {
          width: 200px;
          height: 50px;
          background-color: grey; }
          body .individual-event .event-information .place-and-time .event-place-container p {
            display: flex;
            justify-content: center;
            color: white; }
        body .individual-event .event-information .place-and-time .event-date-and-time-container {
          width: 200px;
          height: 50px;
          background-color: grey; }
          body .individual-event .event-information .place-and-time .event-date-and-time-container p {
            display: flex;
            justify-content: center;
            color: white; }
      body .individual-event .event-information .event-info .button {
        width: 100%;
        display: flex;
        justify-content: center; }
        body .individual-event .event-information .event-info .button .btn-event {
          width: 20%;
          border-radius: 5px;
          height: 50px;
          border: 1.5px solid #0D0D0D;
          background-color: #212121;
          cursor: pointer;
          margin: 5px; }
          body .individual-event .event-information .event-info .button .btn-event a {
            color: #FDFDFD;
            text-decoration: none; }
    body .individual-event .event-info p {
      display: flex;
      align-self: center;
      justify-content: center; }
    body .individual-event .event-info h4 {
      display: flex;
      justify-content: center; }
    body .individual-event .event-info .event-tags {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 10px;
      margin: 30px 0 20px 0; }
      body .individual-event .event-info .event-tags div {
        padding: 5px 5px;
        display: flex;
        justify-content: center; } }
@media screen and (max-width: 1000px) {
  body .event-information {
    width: 80%;
    margin-top: 2%;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column; }
    body .event-information .place-and-time {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px; }
      body .event-information .place-and-time .event-place-container {
        width: 40%;
        height: 40px;
        background-color: grey;
        align-self: center; }
        body .event-information .place-and-time .event-place-container p {
          display: flex;
          justify-content: center;
          color: white; }
      body .event-information .place-and-time .event-date-and-time-container {
        width: 40%;
        height: 40px;
        align-self: center;
        background-color: grey; }
        body .event-information .place-and-time .event-date-and-time-container p {
          display: flex;
          justify-content: center;
          color: white; }
    body .event-information .event-info .event-tags {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 10px;
      margin: 0 0 20px 0; }
      body .event-information .event-info .event-tags div {
        padding: 5px 5px;
        display: flex;
        justify-content: center; }
    body .event-information .button {
      width: 100%;
      display: flex;
      justify-content: center; }
      body .event-information .button .btn-event {
        width: 45%;
        border-radius: 5px;
        height: 50px;
        border: 1.5px solid #0D0D0D;
        background-color: #212121;
        cursor: pointer;
        margin: 5px; }
        body .event-information .button .btn-event a {
          color: #FDFDFD;
          text-decoration: none; } }

/*# sourceMappingURL=individual_event.css.map */
