body{


  .make-new-event-container{
    display: flex;
    width: 100%;
    justify-content: center;

    .flex-form-new-event{
      display: flex;
      width: 40%;
      flex-direction: column;
      padding: 20px;

      .new-event-element {
        display: flex;
        flex-direction: column !important;
        margin: 10px 0px;

        .new-event-tags {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          flex-basis: 100%;

          .single-event-tag {
            display: flex;
            flex-basis: 25%;
            margin: 5px 0;
            font-size: 0.8em;
          }
        }
      }

      .time-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .new-event-element {
          flex-basis: 48%;

          input {
                width: 100%;
          }
        }
      }

      label {
        margin-top: 10px;
        padding: 15px 15px 15px 0px;
      }

      input {
        padding: 15px;
      }

      textarea {
        padding: 15px;
        margin-bottom: 10px;
      }

      #new-partner-btn {
      margin-bottom: 100px;
      }

      .logForm-btn{
        color: $white;
        border-radius: 5px;
        height: 40px;
        width: 150px;
        justify-content: center;
        padding-top: 12px;
        margin: 20px 0 30px 0;
        border: 1.5px solid $white;
        background-color: $yellow;
        display: flex;
        align-self: center;
      }


    }
  }
}

@media screen and (min-width: 801px) and (max-width: 1250px) { 

  body{

    .make-new-event-container{

      .flex-form-new-event{
        width: 60%;

        .new-event-element {
          margin: 0px;
        }

        .single-event-tag {
            display: flex;
            flex-basis: 25%;
            margin: 5px 0;
            font-size: 1em;
          }

          

        .logForm-btn{
          width: 180px;
        }
      }
    }
  }
}



@media screen and (min-width: 501px) and (max-width: 800px) {

  body{

    .make-new-event-container{

      .flex-form-new-event{
        width: 75%;

        .new-event-element {
        margin: 0px;

        .new-event-tags {

          .single-event-tag {
            font-size: 0.9em;
          }
        }
      }

        .logForm-btn{
          width: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {

  body{

    .make-new-event-container{

      .flex-form-new-event{
        width: 95%;

        .new-event-element {
        margin: 0px;

        .new-event-tags {

          .single-event-tag {
            flex-basis: 50%;
            font-size: 0.9em;
            margin-bottom: 20px;
          }
        }
      }


        .logForm-btn{
          width: 200px;
        }
      }
    }
  }

}

