body{

  .p-partners-header{
    flex-direction: column;
    text-align: center;
    background-image: url(https://www.timeshighereducation.com/sites/default/files/lecture-hall.jpg);
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 100px rgba(66, 171, 158, 0.8);
    background-size: 100%;
    height: 180px;
    /* border-bottom: 2px black solid; */
    /* border-top: 1px black solid; */
    padding-top: 1%;
    display: flex;

    h1{
      margin: 20px 0 0 0;
    }

    .header-right{
      width: 17%;

      .mail-view {
        display: flex;
        text-align: left;

        .mail-view-container{
          display: flex;
          justify-content: center;
          border-radius: 5px;
          cursor: pointer;
          background-color: $yellow;

          .fa-envelope-o {
            font-size: 2em;
            padding: 10px;
            color: white;
          }

          .mail-view-text {
            padding: 17px 15px 15px 5px;
            color: white;
          }
        }
      }
    }

    p{
      display: flex;
      justify-content: center;
      align-self: center;
    }
  }

  .p-partners-border{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 0;

    .p-partners{
      display: flex;
      justify-content: center;
      align-self: center;
      flex-wrap: wrap;
      margin-bottom: 30px;

      img{
        width: 30%;
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 20px;
        padding: 20px;
      }
    }

    p{
      display: flex;
      justify-content: center;
    }

  }

  footer{
    margin-top: 40px;
  }

  @media screen and (min-width: 801px) {

    .mail-view-container{
      margin: 65px 0 10px 20px;
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: 800px) {

    .p-partners-header {

      p{
        margin: 15px;
        align-self: center;
        justify-content: center;
      }

      .mail-view {
        display: flex;
        text-align: left;
        justify-content: center;
        margin: 0px;

      }
    }

    .p-partners-row{
      width: 100%;
      align-self: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .partners-border{
      flex-direction: column;
      width: 70%;
    }


    .p-partners{
      flex-wrap: wrap;

      img{
        width: 10%;
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 15px 35px !important;
      }
    }
  }
}
