body{

  .sent-message{
    display:flex;
    justify-content: center;
    width: 100%;

    .message{
      height: 625px;
      display: flex;
      flex-direction: column;
      padding-top: 10%;

      p{
        display: flex;
        justify-content: center;
      }
    }
  }
}